dist
tags
pytest.ini
.cache
.coverage
.ipynb_checkpoints
.vscode
*.pyc
*.so
*.egg-info/
*.zip
*.nt.bz2
*.tar.gz
*.tgz
*.orig
docsite/docs/*.ipynb
docsite/docs/usage/*.ipynb
docsite/docs/.ipynb_checkpoints
build/
README.ipynb

playground/
docsite/site/